.timeline {
    background:  #0984E3;
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
}
.vehicleInfo {
    width: 100%;
    background-color: white;
    color: #0984E3;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 0.5rem;
}
.vehicleInfo img {
    width: 60px;
}
.price {
    text-align: end;
}
.timeline-area {
    width: 100%;
    border-left: 1px solid #fff;
    padding: 0 20px;
}
.timeline-content {
    position: relative;
}
.timeline-area h2 {
    margin: 20px 0;
    font-size: 1.5rem;
}
.timeline-content:before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    left: -26px;
}
.timeline-content2:before {
    top: 20px;
}
.timeline-content2 > h2 {
    margin-top: 30px;
    text-align: bottom;
}
