.App {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url('https://www.binzel-abicor.com/uploads/Layout/Industries/Pictures/ABI_compo_Automotive_Transport_1000px.jpg');
  min-height: 100vh;
  background-size: cover;
  color: #ffffff;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.userHighlight {
  text-align: end;
  margin: 0.8rem 0;

}

.userHighlight P {
  color: #0984E3;
  display: inline;
  background-color: #fff;
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-right: 5px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
